* {
    font-family: 'Chau Philomene One', sans-serif;
    user-select: none;
}

body {
    margin: 0px;
    background-color: #2B282C;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #403a44;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.homewoo:hover{
    filter: invert(71%) sepia(82%) saturate(994%) hue-rotate(186deg) brightness(107%) contrast(102%);
}

.links{
    padding: 7px;
}

.woo{
    height: 100%;
    background: linear-gradient(to top, #ffffff, #ffffffde 15%, #ffffffdf 30%, #ffffff83, #ffffff1c 50%, #ffffff00);
}

.cartel{
    height: 100%;
    background: linear-gradient(to top, #dbdbdb 50%, #dbdbdb60 65%, #ffffff00);
}

/* NAV BAR */

.download:hover,
.btn-login {
    color: #ffffff;
}

.btn-login:hover {
    background-color: #403a44 !important;
}

.download:hover {
    background-color: #9bc3ff !important;
}


/* SOPORTE */

.paragraph~input[type="submit"]:hover {
    color: #2B282C;
}


/* LOGIN - REGISTRO DE USUARIO - RECUPERACION DE CUENTA */

.input-div input[type="email"]::placeholder,
.input-div input[type="password"]::placeholder,
.input-div input[type="text"]::placeholder {
    color: #7691a8;
}

.atomic {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 10;
    color: rgb(255, 255, 255);

}

.stu {
    position: absolute;
    top: 35px;
}

.logo {
    transform: rotate(-90deg);
    position: absolute;
    width: 100px;
    right: 115px;
    top: -10px;

}

.bg-image {
    position: fixed;
    background: url('../img/over_ocean.jpg') no-repeat;
    filter: blur(4px) brightness(60%);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 0;
}


/*  TORNEOS */

.legendario{
    color: rgb(146, 162, 1);
}

.coins{
    color: rgb(243, 251, 14);
}

.unico{
    color: rgb(235, 7, 7);
}

.custom-card{
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*  EFECTOS */

@media(min-width: 768px){   /* Todos menos moviles*/
    .custom-card:hover{
        transform: scale(1.05);
        box-shadow: 0px 5px white;
    }
}

@media(min-width: 992px){   /* Solo PC*/
    .links:hover{
        background-color: #bbbbbb2b;
        border-radius: 10px;
    }
    
    .lnav:hover{
        border-bottom: 3.5px solid #7BB0FF;
    }
}