<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso de privacidad - ATOMIC STUDIOS</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap" rel="stylesheet">
</head>
<style>
    *{
        font-family: 'Chau Philomene One', sans-serif;
    }

    body{
        background-color: #212124;
    }

    .paragraph{
        font-size: 30px;
        color: white;
    }


</style>
<body>
    <div class="position-relative">
        <img src="../img/background.png" alt="Descripción de la imagen" class="img-fluid w-100" style="filter: blur(4px);">
        <div class="text-center position-absolute top-50 start-50 translate-middle" style="transform: translate(-50%, -50%); color: white;">
          <h1 class="text-center display-1">AVISO DE PRIVACIDAD</h1>
          <img src="../img/linea.png" class="img-fluid" style="filter: invert(100%);" alt="COSITO">
        </div>
      </div>
    <div class="text-start" style="margin-top: 4%; margin-left: 7.5%; margin-right: 7.5%;">
        <i style="font-size: 25px;">Modificado por ultima vez: 20 de Mayo de 2023</i>
        <p class="paragraph" style="margin-top: 10px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde deleniti, et amet cum dolorem neque non deserunt omnis commodi tempora dicta temporibus adipisci, quaerat earum enim voluptatum est.
            Inventore animi veniam totam aut ipsam cumque autem quibusdam harum. At tenetur, unde nemo officia eligendi autem quae ratione ullam eaque fuga, facere ea in nulla, laborum minima? Labore, optio?
            Earum quis facilis quia ad voluptatibus, qui eum nemo esse possimus reiciendis vel ullam sapiente natus suscipit doloribus explicabo commodi.
            <br><br>
            Pariatur, est harum magnam libero exercitationem obcaecati laborum a dolorum!
            Quam ab odio error eum sequi tempore et blanditiis nulla a, assumenda minus expedita. Non ipsam beatae porro inventore:
        </p>
        <ul class="paragraph">
            <li>Quidem ipsa quo beatae quisquam soluta, ducimus animi earum quod alias. Ut eligendi error alias magnam porro eos distinctio recusandae ipsum reprehenderit fugiat iusto sed, quam asperiores architecto veniam
                velit non iste totam perspiciatis voluptatem nam perferendis quaerat. Corporis, aliquid unde?
            </li>
            <li>Minus quis dicta cupiditate ipsa asperiores vero quos error beatae voluptas odio? Aliquid sed laborum iusto ab deserunt? Autem iure sunt neque maxime.Et repudiandae numquam expedita vero praesentium accusantium!
                Enim rerum ipsam necessitatibus ducimus ipsum voluptatum culpa perferendis asperiores a est. Assumenda eum eveniet voluptatibus modi explicabo nulla vero, quam veritatis natus quisquam saepe veniam officia autem.
                Sunt, expedita.
            </li>
            <li>Debitis dolorem dolor fugit iusto voluptas delectus officia sit? Unde odio fuga laboriosam accusantium rem accusamus sunt cum qui commodi tempora, sit, voluptatibus facere autem! Perferendis voluptates consectetur
                aliquam dolorum? Odio dolore a ad nesciunt blanditiis harum ea architecto repudiandae nisi consequatur, ipsa aliquam doloribus eveniet suscipit eius, vitae sit cum amet itaque illum! Distinctio vero dicta ex sunt
                laboriosam.
            </li>
        </ul>
        <p class="paragraph">
            Repellat aliquid pariatur quisquam, temporibus nulla provident dolorem voluptatem voluptatibus excepturi! Corporis, quos architecto sint laudantium, ratione est iusto odit non, sapiente officia eveniet impedit blanditiis sunt magni nam quam!
            Molestiae doloribus labore esse minima earum quia debitis soluta iusto nulla? Incidunt quia illum temporibus expedita reiciendis atque facilis cupiditate consequatur tenetur hic quidem, distinctio id necessitatibus perspiciatis autem vero!
            A eum magnam iure nihil, incidunt nam omnis fugit. Accusamus inventore vero, facilis aperiam itaque quam ipsa rem ad numquam voluptatibus neque dicta adipisci aspernatur doloremque, exercitationem recusandae dolorem nisi.
            Sunt debitis unde, tenetur saepe blanditiis dignissimos labore quasi, asperiores enim autem reprehenderit architecto soluta dolorum voluptatem provident dolore. Quo voluptatibus illum aliquam culpa tenetur numquam ratione eveniet animi aspernatur.
            Tenetur in, at minus deserunt obcaecati voluptatibus animi, ipsum similique recusandae soluta laudantium delectus culpa, maxime sunt architecto quisquam voluptate eligendi placeat nostrum voluptatem illo nemo. Eligendi voluptatibus ratione dolore!
            Illo rem sapiente amet architecto, neque ipsum optio saepe! Animi blanditiis sunt aut, eveniet aspernatur, pariatur corrupti consequuntur at soluta dolor doloribus eaque rerum similique alias. Itaque dolore perferendis ab!
            Cum sint fuga doloremque magnam maiores rerum. Optio expedita voluptate error ex temporibus quisquam mollitia consectetur vero sed consequuntur libero laudantium, provident praesentium laboriosam quos, officia modi quam impedit iure.
            Numquam, earum. Dignissimos, minima in! Omnis nostrum maxime quod, numquam, molestias ipsa reprehenderit eius consequatur molestiae quaerat veniam eum id, perspiciatis distinctio at voluptas placeat aliquid itaque debitis et. Saepe.
            Laudantium cum corrupti unde nisi eligendi, enim alias tempore saepe provident, earum ipsa optio fugiat blanditiis nam, repudiandae praesentium adipisci. Accusamus provident deleniti dignissimos aliquid omnis iste, eos at quidem.
            Cum dolores neque dignissimos voluptas consequatur facere commodi, provident voluptatem nam recusandae eius minima deserunt incidunt soluta eveniet nostrum, ipsa et harum ut fugit at quibusdam debitis. Voluptatibus, numquam rerum!
            Dolores doloremque eveniet veniam accusantium obcaecati suscipit ea consequuntur velit iure nobis asperiores voluptatibus eius beatae est soluta porro, maxime provident sed minus facere sapiente, id quo repudiandae? Corrupti, enim.
        </p>
    </div>
</body>

</html>