<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte - ATOMIC STUDIOS</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap" rel="stylesheet">
</head>
<style>
    * {
        font-family: 'Chau Philomene One', sans-serif;
    }

    body {
        background-color: #212124;
    }

    .paragraph {
        font-size: 25px;
        color: white;
    }
</style>

<body>
    <div class="position-relative">
        <img src="../img/background.png" alt="Descripción de la imagen" class="img-fluid w-100"
            style="filter: blur(4px);">
        <div class="text-center position-absolute top-50 start-50 translate-middle"
            style="transform: translate(-50%, -50%); color: white;">
            <h1 class="text-center display-1">SOPORTE</h1>
            <img src="../img/linea.png" class="img-fluid" style="filter: invert(100%);" alt="COSITO">
        </div>
    </div>
    <div class="text-center w-50 mx-auto" style="margin-top: 4%; margin-left: 7.5%; margin-right: 7.5%;">
        <p class="paragraph">Llene el siguiente formulario para ponerte en contacto con nosotros.</p>
        <img src="../img/logo.png" alt="logo" class="img-fluid" style="width: 15%; rotate: -90deg;">
        <form action="">
            <div class="paragraph" style="margin-top: 10px;">
                <p for="inputPassword" style="text-align: left !important;" class="mt-2">Nombre de Usuario</p>

                <input type="text" class="form-control bg-dark text-light" id="inputPassword" placeholder="ZIKARIOGAY">

                <p for="email" style="text-align: left !important;" class="text-left mt-2">Correo Electronico</p>
                <input type="email" name="email" class="form-control bg-dark text-light" id="email"
                    placeholder="example@gmail.com">

                <p for="asuntos" style="text-align: left !important;" class="text-left mt-2">Asunto</p>
                <select name="asuntos" class="form-control bg-dark text-light" id="asuntos">
                    <option value="0" selected>Seleccionar...</option>
                    <option value="1">Reportar usuario</option>
                    <option value="2">Reportar Bug</option>
                    <option value="3">Otros</option>
                </select>

                <p for="mensaje" style="text-align: left !important;" class="text-left mt-2">Mensaje</p>
                <textarea name="mensaje" id="mensaje" class="form-control bg-dark text-light" cols="30"
                    rows="7"></textarea>
            </div>

            <input type="submit" class="btn btn-outline-light mt-3 mb-5 border-light" value="Enviar">
        </form>
    </div>
</body>

</html>